<!DOCTYPE html>
{% load static %}
{% load account %}
{% load socialaccount %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AutoMech</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        
    </head>

    <body>   
        <div class="bgimg h-100">
            <div class="container">
                <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                  <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <br>
                    <div class="card z-index-0">
                        <a href="/"><span class="close-icon">&times;</span></a>
                      <div class="card-header text-center pt-4">
                        <div class="custom_logo pt-4">
                            <a href="">
                                <h1>Auto<span>Mech</span></h1>
                                <!-- <img src="img/logo.jpg" alt="Logo"> -->
                            </a>
                        </div>
                      </div> 
                      <div class="card-body">
                        <div class="text-center">
                          <h5>Change Password</h5>
                        </div>
                        
                        <form method="post" action="/accounts/password/reset/key/i-set-password/">
                          {% csrf_token %}
                
                          <div class="mb-3"> 
                            <input type="password" class="form-control" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1">
                          </div>
                          {% if form.errors.password1 %}
                              <p class="text-danger">{{ form.errors.password1 }}</p>
                          {% endif %}
                          <div class="mb-3"> 
                            <input type="password" class="form-control" name="password2" placeholder="New Password (again)" required="" id="id_password2">
                          </div>
                          {% if form.errors.password2 %}
                          <p class="text-danger">{{ form.errors.password2 }}</p>
                          {% endif %}
                          <button name="action" type="submit" type="submit" id="btn1"class="btn btn-dark w-100 my-4 mb-1" >Change Password</button>
      
                        </form> 






                        {% comment %} <div class=" mb-3 text-center text-danger"> 
                          Enter your email address below, and we'll send you an email allowing you to reset it.
                        </div>
                        <form method="post" action="/accounts/password/reset/">
                          {% csrf_token %}
                          <div class="mb-3">  
                            <input type="email" class="form-control" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required="" id="id_email">
                            <span id="emailError" class="text-danger"></span>
                          </div>
                          <button type="submit" id="btn1"class="btn btn-dark w-100 my-4 mb-1" >Reset My Password</button> 
                        </form>                      
                          <p class="text-sm mt-2 mb-0">Create an account? <a href="{% url 'account_signup' %}" class="text-dark font-weight-bolder">Sign Up</a></p>
                          <p class="text-sm mt-2 mb-0"> <a href="{%url 'account_login'%}" class="text-dark font-weight-bolder">Already Have an Account</a></p>
                      </div>
                    </div> {% endcomment %}
                    <!--HELLO-->
                    
                    <!--hello-->
                    {% comment %} <br><br><br>
                    <br><br><br>
                    <br><br><br> {% endcomment %}
                  </div>
                </div>
                <br> <br><br><br> <br><br><br> <br><br><br><br>
              </div>
            </div>
          </div>
          
                 
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'mail/contact.js'%}"></script>
        <!-- Template Javascript -->
        <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>
