<!DOCTYPE html>
{% load static %}
{% load account %}
{% load socialaccount %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AutoMech</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- Include htmx library (you can also use a CDN) -->
        <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>

    </head>

    <body>   
      <div class="bgimg h-100">
        <div class="container">
          <div class="row mt-lg-n10 mt-md-n11 mt-n10">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
              <br>
              <div class="card z-index-0">
                <a href="/"><span class="close-icon">&times;</span></a>
                <div class="card-header text-center pt-4">
                  <div class="custom_logo pt-4">
                    <a href="">
                      <h1>Auto<span>Mech</span></h1>
                    </a>
                  </div>
                </div> 
                <div class="card-body">
                  <div id="form-container">
                    <img src="{% static 'img/Hello.png'%}" width="250" height="250">
                    <form hx-get="{% url 'step1_view' %}" hx-target="#form-container">
                      {% csrf_token %}
                      <div class="text-center text-danger">
                      Please provide the following details 
                      to proceed with the sign-in process
                      </div>
                      <button type="submit" id="pro_con" class="btn btn-dark w-100 my-4 mb-2">Next</button>
                    </form>
                  </div>
                </div>
              </div>
              <br><br><br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
  
       
                 
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'mail/contact.js'%}"></script>
        <!-- Template Javascript -->
        <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>
