<!DOCTYPE html>
{% load static %}
{% load account %}
{% load socialaccount %}
{% comment %} {% load socialaccount %} {% endcomment %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AutoMech</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>   
        <div class="bgimg h-100">
            <div class="container">
                <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                        <br>
                        <div class="card z-index-0">
                            <a href="/"><span class="close-icon">&times;</span></a>
                            <div class="card-header text-center pt-4">
                                <div class="custom_logo pt-4">
                                    <a href="">
                                        <h1>Auto<span>Mech</span></h1>
                                        <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                    </a>
                                </div>
                            </div> 
                            <div class="card-body">
                              <form method="post" action="{% url 'account_signup' %}" id="registrationForm">
                                {% csrf_token %}
                                <div class="mb-3">                        
                                  <input type="text" name="username" class="form-control" placeholder="Email" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
                                  <p id="emailError" class="text-danger"></p>
                                </div>
                               <input type="hidden" name="email" class="form-control" maxlength="320" id="id_email">
                               <div class="mb-3">
                                  <input type="text" name="firstname" class="form-control" placeholder="First Name" maxlength="30" required="" id="id_firstname">
                                  <p id="firstNameError" class="text-danger"></p>
                                </div>
                               <div class="mb-3">
                                  <input type="text" name="lastname" class="form-control"  placeholder="Last Name" maxlength="30" required="" id="id_lastname">
                                  <p id="lastNameError" class="text-danger"></p>
                                </div>
                               <div class="mb-3">
                                  <input type="password" name="password1" class="form-control" placeholder="Password" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
                                  <p id="passwordError" class="text-danger" ></p>
                                </div>
                               <div class="mb-3">
                                  <input type="password" name="password2" class="form-control" placeholder="Confirm Password " autocomplete="new-password" required="" id="id_password2">
                                  <p id="confirmPasswordError" class="text-danger" ></p>
                                </div> 
                               <div class="text-center">
                                  <input type="submit" class="btn btn-dark w-100 my-4 mb-2" value="Sign Up">
                              </div>
                               </form>
                                <div class="line-container">
                                    <hr>
                                        <span class="line-text">OR</span>
                                    <hr>
                                </div>
                                <div class="text-center">
                                    <a href="{% provider_login_url 'google' %}" class="btn btn-dark w-100 my-2 mb-2"><img src="{% static "img/google.png" %}" width="25" height="25">&nbsp; Sign In with Google</a>
                                </div>
                            </div> 
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Function to validate First Name 
      function validateFirstName(firstName) {
        const firstNameError = document.getElementById('firstNameError');
        if (firstName.trim() === '') {
            firstNameError.textContent = 'First Name cannot be empty';
            return false;
        } 
        else if (/^\s/.test(firstName)) {
          firstNameError.textContent = 'First Name cannot start with a space';
          return false;
        }
        else if (!/^[a-zA-Z]+$/.test(firstName)) {
          firstNameError.textContent = 'First Name should contain only letters (no numbers, special characters, or spaces)';
          return false;
        }
        else if (!/^[a-zA-Z]{3,}$/.test(firstName)) {
          firstNameError.textContent = 'First Name should contain at least 3 letters (no numbers, special characters, or spaces)';
          return false;
        }
        
        else {
            firstNameError.textContent = '';
            return true;
        }
      }
      
      // Function to validate Last Name 
      function validateLastName(lastName) {
        const firstNameError = document.getElementById('lastNameError');
        if (lastName.trim() === '') {
            lastNameError.textContent = 'Last Name cannot be empty';
            return false;
        } 
        else if (/^\s/.test(lastName)) {
          lastNameError.textContent = 'Last Name cannot start with a space';
          return false;
        }
        else if (!/^[a-zA-Z]+$/.test(lastName)) {
          lastNameError.textContent = 'Last Name should contain only letters (no numbers, special characters, or spaces)';
          return false;
        }
        
        else {
            lastNameError.textContent = '';
            return true;
        }
      }
      // Function to validate Email 
      function validateEmail(email) {
        const emailError = document.getElementById('emailError');
        const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
      
        if (email.trim() === '') {
          emailError.textContent = 'Email address cannot be empty';
          return false;
        } else if (!emailPattern.test(email)) {
          emailError.textContent = 'Invalid email address';
          return false;
        } else {
          emailError.textContent = '';
          return true;
        }
      }
      
      // Function to validate Password
      function validatePassword(password) {
        const passwordError = document.getElementById('passwordError');
        const minLength = 6;
        const hasUpperCase = /[A-Z]/.test(password);
        const hasLowerCase = /[a-z]/.test(password);
        const hasNumber = /\d/.test(password);
        const hasSpecialChar = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password);
        
        if (password.trim() === '') {
          passwordError.textContent = 'Password cannot be empty';
          return false;
        }
        else if (password.length < minLength) {
          passwordError.textContent = 'Password should be at least 6 characters long';
          return false;
        } 
        else if (!hasUpperCase || !hasLowerCase || !hasNumber || !hasSpecialChar) {
          passwordError.textContent = 'Password should contain at least one uppercase letter, one lowercase letter, one number, and one special character';
          return false;
        }
        else {
          passwordError.textContent = '';
          return true;
        }
      }
    

      //First Name
      

      function validateConfirmPassword(confirmPassword, originalPassword) {
        const confirmPasswordError = document.getElementById('confirmPasswordError');
      
        if (confirmPassword.trim() === '') {
          confirmPasswordError.textContent = 'Confirm Password cannot be empty';
          return false;
        } else if (confirmPassword !== originalPassword) {
          confirmPasswordError.textContent = 'Passwords do not match';
          return false;
        } else {
          confirmPasswordError.textContent = '';
          return true;
        }
      }
      
      const firstNameInput = document.getElementById('id_firstname');
      firstNameInput.addEventListener('input', function () {
        validateFirstName(firstNameInput.value);
      });
    
      const lastNameInput = document.getElementById('id_lastname');
      lastNameInput.addEventListener('input', function () {
        validateLastName(lastNameInput.value);
      });
    
      const emailInput = document.getElementById('id_username');
      emailInput.addEventListener('input', function () {
        validateEmail(emailInput.value);
      });
    
      const passwordInput = document.getElementById('id_password1');
      passwordInput.addEventListener('input', function () {
        validatePassword(passwordInput.value);
      });
    
      const confirmPasswordInput = document.getElementById('id_password2');
      confirmPasswordInput.addEventListener('input', function () {
        validateConfirmPassword(confirmPasswordInput.value, passwordInput.value);
      });
     
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('registrationForm');
        form.addEventListener('submit', function(event) {
            if (firstNameError.textContent.trim() !== '' || lastNameError.textContent.trim() !== '' || emailError.textContent.trim() !== ''|| passwordError.textContent.trim() !== '') {
                event.preventDefault(); 
            }
        });
    });
    </script>         
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'mail/contact.js'%}"></script>
        <!-- Template Javascript -->
        <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>
