{% extends 'mechanic/base.html' %}
{%block content%}
{% load tz %}
{% load static %}

{% block conhead%}
  <!-- Bootstrap CSS -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
{% endblock %}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-primary">Slot  Details</h3>
        {% if slot%}
        
        <div class="alert alert-warning" role="alert">
          <b>{{slot.slotname}} </b> <br>Service Center :{{slot.service_center}},{{slot.service_center.city}}  </div>
        </div>
      </div>
      </div>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title text-danger"><U>Active Service Orders</U></p>
            <div class="table-responsive">
          <table  id = "orderTable" class="display expandable-table dataTable no-footer w-100">
            <thead>
              <tr >
                <th scope="col">Vehicle</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for  order in orders %}
              <tr >
                <td>{{order.vehicle.vehicle_Regno}}</td>
                <td> {{order.date}}{{ order.time|time:"H:i A" }}</td>
                <td> <label class="badge 
                  {% if  order.status == 'created'%}
                  badge-info
                  {% elif order.status == 'pending' %}
                  badge-danger
                  {% elif order.status == 'completed' %}
                  badge-success
                  {% elif order.status == 'processing' %}
                  badge-success
                  {% endif %}">
                  {{ order.status}}
                </label></td>
            
                <td>
                  <a class="btn btn-success btn-sm"  href="{% url 'service_details' service_slug=order.slug %}">
                    {% if  order.status == 'created'%}
                    Start Service
                    {% elif order.status == 'pending' %}
                    Resume Service
                    {% else %}
                    View Service
                    {% endif %}

                  </a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>

          <br><br>
          <p class="card-title text-danger"><U>Completed Service Orders</U></p>
            {% comment %} Table for showing Closed Orders {% endcomment %}
            <div class="table-responsive">
          <table id = "closed_orders" class="display expandable-table dataTable no-footer w-100">
            <thead>
              <tr >
                <th scope="col">Vehicle</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for  corder in closed_orders %}
              <tr >
                <td>{{corder.vehicle.vehicle_Regno}}</td>
                <td> {{corder.date}}{{ corder.time|time:"H:i A" }}</td>
                <td> 
                  {{ corder.status}}
                </td>
            
                <td>
                  <a class="btn btn-success btn-sm"  href="{% url 'service_details' service_slug=corder.slug %}">
                    View Service
                  </a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>


          </div>
        </div>
      </div>

     
     

          {% else %}
        No slots allocted to u
        {% endif %}

</div>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#orderTable').DataTable();
  });
  $(document).ready(function() {
    $('#closed_orders').DataTable();
  });
</script>
{%endblock%}