{% extends 'mechanic/base.html' %}
{%block content%}
{% load tz %}
{% load static %}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">RSA Requests</p>
        {% if rsa_detials%}
        {{rsa_detials}}
        <div class="alert alert-warning" role="alert">
          <b>{{slot.slotname}} </b> <br>Service Center :{{slot.service_center}},{{slot.service_center.city}}  </div>
        </div>
      </div>
      </div>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Road Side Assistance Requests</p>
            <div class="table-responsive">
          <table class="display expandable-table dataTable no-footer w-100">
            <thead>
              <tr >
                <th scope="col">Vehicle</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Status</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              {% for  rsa in rsa_detials %}
              <tr >
                <td>{{rsa.vehicle_info.vehicle_Regno}}</td>
                <td> {{order.date}}{{ rsa.created_at|time:"H:i A" }}</td>
                <td> 
                  {{ rsa.status}}
                </td>
                <td>
                  <a href="{% url 'mech_rsa_det'  slug=rsa.slug %}">View</a> 
                </td>
              </tr>
              
              {%endfor%}
            </tbody>
          </table>
        
          </div>
        </div>
      </div>

          {% else %}
        No slots allocted to u
        {% endif %}

</div>
{%endblock%}