{% extends 'mechanic/base.html' %}
{%block content%}
{% load tz %}
{% load static %}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Service Order Details </p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'mechanic_slot' %}">Your Slot</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service Order of {{order.vehicle.vehicle_Regno}}</li>
          </ol>
        </nav>
        <div class="col-lg-6">
        <div class="py-4">
          <p class="clearfix">
            <span class="float-left">
              Service Order Date & Time
            </span>
            <span class="float-right text-muted">
              {{order.date}} , {{order.time}} 
            </span>
          </p>
          <p class="clearfix">
            <span class="float-left">
              Service Order Status
            </span>
            <span class="float-right text-muted">
              {{order.status}} 
            </span>
          </p>
          <div class="progress" style="height: 15px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{completed_percentage}}%;" aria-valuemin="0" aria-valuemax="100"> {{completed_percentage}} %</div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card ">
              <div class="card-body">
                <div class="border-bottom text-center pb-4">
                  <div class="mb-3">
                    <h4>Vehicle Details</h4>
                  </div>
                </div>
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left">
                        Vehicle RegNo
                      </span>
                      <span class="float-right text-muted">
                        {{order.vehicle.vehicle_Regno}}
                      </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Vehicle Model
                        </span>
                        <span class="float-right text-muted">
                          {{order.vehicle.model_variant}}
                        </span>
                        </p>
                        <p class="clearfix">
                          <span class="float-left">
                            Vehicle Manufacture
                          </span>
                          <span class="float-right text-muted">
                            {{order.vehicle.model_variant.model.make_company}}
                          </span>
                          </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="col-lg-12">
                  <div class="border-bottom text-center pb-4">
                    
                    <div class="mb-3">
                      <h4>{{order.vehicle.client.get_full_name}}</h4>
                    </div>
                  </div>
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left">
                        Email
                      </span>
                      <span class="float-right text-muted">
                        {{order.vehicle.client}}
                      </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Phone
                        </span>
                        <span class="float-right text-muted">
                          {{order.vehicle.client.userinfo.contact_no}}
                        </span>    
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                         Address
                        </span>
                        <span class="float-right text-muted">
                          {{order.vehicle.client.userinfo.address}} , 
                          {{order.vehicle.client.userinfo.place}} ,<br>
                          {{order.vehicle.client.userinfo.city}} ,
                          {{order.vehicle.client.userinfo.pincode}}
                        </span>    
                  </p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Service Orders Items</p>
            <table id="orderItemsTable" class="w-100">
              <thead>
                  <tr>
                    <th>Service Image</th>  
                    <th>Service</th>
                    <th> Status</th>
                    <th>Service Category</th>  
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for order_item in order_items %}
                      <tr>
                        <td>
                          <img src="{{ order_item.service_list.service_Image.url }}" alt="Service Image" width="100">
                        </td>  
                        <td>{{ order_item.service_list }}</td>
                        <td>{{order_item.status}}</td>
                        <td>{{ order_item.service_list.service_category }}</td>
                        <td>
                          {%if order_item.status == 'created'%}
                            <a class="btn btn-success btn-sm"  href="{% url 'order_start' order_slug=order_item.slug %}">Start</a></td>
                          {% elif order_item.status == 'pending' %}
                            <a class="btn btn-success btn-sm"  href="{% url 'order_start' order_slug=order_item.slug %}">Complete</a></td>
                          {% else %}
                          Complete
                          {%endif%} 
                        </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>          

          </div>
        </div>
      </div>
  </div></div>
</div>
{%endblock%}