{% extends 'manager/managerbase.html' %}
{%block content%}
{% load static %}
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
            <h3 class="text-danger mt-3">Service Bookings </h3>
  
            <div class="container mt-4">
              <div class="error-message text-center p-4 bg-light rounded">
                <img src="{% static 'img/Sad-face.png'%}" alt="Sad face icon" class="img-fluid mb-2" style="max-width: 200px; height: auto;">
                <h2 class="text-danger"><strong>Oops! No Bookings found.</strong></h2>
                <p class="lead">It seems there are no Bookings available in Your Service Center.</p>
              </div>
            </div>

          <p class="card-title mb-0">Bookings</p>
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>VEHICLE</th>
                  <th>Service</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>  
              </thead>
              <tbody>
                {%for booking in bookings %}
                <tr>
                  <td>{{booking.vehicle}}</td>
                  <td class="font-weight-bold">{{booking.service_name}}</td>
                  <td>{{booking.booking_date}}{{booking.booking_date}}</td>
                  <td class="font-weight-medium">
                    {% if booking.status == "pending"  %}
                    <p class="text-warning" >{{booking.status}}</p>
                  {% elif booking.status == "confirmed"  %}
                    <p class="text-success" >confirmed</p>
                  {% else %} 
                  <p class="text-danger" >{{booking.status}}</p>
                  {% endif %}</td>
                </tr>
                {%endfor%}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 
 {%endblock%}