{% extends 'manager/managerbase.html' %}
{% block content %}
  {% load static %}
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3 class="text-danger mt-3">Service Orders</h3>
          <br />
          {% if service_orders %}
            <table class="table table-striped table-borderless">
              <tr>
                <th scope="col">Vehicle</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
              {% for service_order in service_orders %}
                <tr>
                  <td>{{ service_order.vehicle.vehicle_Regno }}</td>
                  <td>{{ service_order.date }}</td>
                  <td>{{ service_order.time }}</td>
                  <td>
                    {{ service_order.status.capitalize }}
                    {% if service_order.status == 'on hold' %}
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal{{ service_order.slug }}">Allocate Slot</button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal{{ service_order.slug }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Allocate Slot</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <form method="post" action="{% url 'allocate_service_slot' %}">
                              <div class="modal-body">
                                {% csrf_token %}
                                <input type="hidden" value="{{ service_order.slug }}" name="slug" />
                                <div class="form-group">
                                  <label>Select The Slot</label>
                                  <select name="slot" id="slot" class="form-control">
                                    <option value="">Select Slot</option>
                                    {% for active_service_slot in active_service_slots %}
                                      <option value="{{ active_service_slot.id }}">{{ active_service_slot }}</option>%
                                    {% endfor %}
                                  </select>
                                  <p class="text-danger" id="selecterror{{ service_order.slug }}"></p>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-sm" id="allocate-button{{ service_order.slug }}">Allocate</button>
                              </div>
                            </form>
                            <script>
                              document.addEventListener('DOMContentLoaded', function () {
                                var allocateButton = document.querySelector('#allocate-button{{ service_order.slug }}')
                                var slotSelect = document.querySelector('#slot')
                                var selectError = document.querySelector('#selecterror{{ service_order.slug }}')
                              
                                allocateButton.addEventListener('click', function () {
                                  // Validate the selected slot
                                  if (slotSelect.value === '') {
                                    selectError.textContent = 'Please select a slot'
                                    return
                                  }
                              
                                  // If validation passes, submit the form
                                  document.querySelector('form').submit()
                                })
                              })
                            </script>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </td>
                  <td data-toggle="collapse" data-target="#details{{ service_order.slug }}" class="clickable">
                    <button class="btn btn-success btn-sm">View Details</button>
                  </td>
                </tr>
                <tr id="details{{ service_order.slug }}" class="collapse">
                  <td colspan="7">
                    <div class="row">
                      <div class="col">
                        <table class="border">
                          <tr>
                            <th>Service Order item</th>
                            <th>Status</th>
                          </tr>
                          {% for item in orderitems %}
                            {% if item.service_order == service_order %}
                              <tr>
                                <td>{{ item.service_list }}</td>
                                <td>{{ item.status }}</td>
                              </tr>
                            {% endif %}
                          {% endfor %}
                        </table>
                      </div>
                      <div class="col">
                        <div>
                          <div class="d-flex justify-content-between">
                            <div class="expanded-table-normal-cell">
                              <div class="me-2 mb-3 d-flex">
                                {% comment %} <div class="highlighted-alpha">A</div> {% endcomment %}
                                <div>
                                  <p>Vehicle Owner</p><h6>{{ service_order.vehicle.client.get_full_name }}</h6>
                                  {{ service_order.vehicle.client }}<br />
                                  {{ service_order.vehicle.client.userinfo.contact_no }}
                                </div>
                              </div>
                              <div class="me-2 d-flex">
                                {% comment %} <img src="../assets/images/faces/face5.jpg" alt="profile" /> {% endcomment %}
                                <div>
                                  <p>Vehicle Details</p><h6>{{ service_order.vehicle.vehicle_Regno }}</h6>
                                  {{ service_order.vehicle.model_variant.model.make_company }}
                                  <b>{{ service_order.vehicle.model_variant }}</b>
                                </div>
                              </div>
                            </div>
                            <div class="expanded-table-normal-cell">
                              <div class="me-2 mb-4">
                                <p>Address</p><h6>
                                  {{ service_order.vehicle.client.userinfo.address }}, {{ service_order.vehicle.client.userinfo.place }}<br />
                                  {{ service_order.vehicle.client.userinfo.city }}
                                  {{ service_order.vehicle.client.userinfo.district }}<br />
                                  {{ service_order.vehicle.client.userinfo.pincode }}
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <div class="container mt-4">
              <div class="error-message text-center p-4 bg-light rounded">
                <img src="{% static 'img/Sad-face.png' %}" alt="Sad face icon" class="img-fluid mb-2" style="max-width: 200px; height: auto;" />
                <h2 class="text-danger"><strong>Oops! No Bookings found.</strong></h2>
                <p class="lead">It seems there are no Bookings available in Your Service Center.</p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
