{% extends 'admin/blogbase.html' %}
{%block content%}
{% load static %}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body ">
        <h3 class="text-danger">   Latest news &amp; articles </h3>
        <div class="row">
          <br>
          <br>
          <div class="row">
            {% for post in posts %}
            <div class="col-lg-4">
                <div class="blog-item d-flex flex-column">
                    <div class="blog-img">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image" style="width: 300px;">
                        {% endif %}
                    </div>
                    <div class="blog-text">
                        <h3><a href="{% url 'blog_details' blog_slug=post.slug %}">{{ post.title }}</a></h3>
                    </div>
                    <div class="blog-meta mt-auto">
                        <p><i class="fa fa-user"></i><a href="">{{ post.author.get_full_name }}</a></p>
                        <p>{{ post.pub_date }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        
        
        </div>


        {% comment %} {% for post in posts%}

        {{post}}
        <article>
          <h1>{{ post.title }}</h1>
          <p class="post-meta">Published on: {{ post.pub_date }} | Author: {{ post.author }}</p>
      
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
          {% endif %}
      
          {% if post.video %}
            <video width="320" height="240" controls>
              <source src="{{ post.video.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {% endif %}
      
          <div class="post-content">
            {{ post.content | safe }}
          </div>
          <a href="{% url 'edit_post' slug=post.slug %}">Edit Post</a>
        </article>
        {% endfor %} {% endcomment %}
        </div>
      </div>           
    </div>        
  </div>
</div>
{%endblock%}