{% extends 'admin/adminbase.html' %}
{% block conhead%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock %}
{%block content%}
{% load static %}
<div class="row">
    
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{model.make_company}} {{model.model_name}}</h4>
          <p class="card-description">
            
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <form action="{% url 'car_make_model' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="make_id" value="{{model.make_company.id}}">
                  <button class="btn btn-sm">{{model.make_company}}</button>
                </form>
              <li class="breadcrumb-item active" aria-current="page">{{model.model_name}}</li>
            </ol>
          </nav>
            <button type="button" class="btn btn-primary  btn-sm" data-toggle="modal" data-target="#exampleModalLong_{{ car_model.id }}">
              <i class="icon-circle-plus menu-icon"></i> Add Variant
          </button>
          </p>
           <!-- Modal -->
          <div class="modal fade" id="exampleModalLong_{{ car_model.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" id="#myForm" action="">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="inputEmail4">{{ form.variant_name.label }} </label>
                        {{ form.variant_name }} 
                        <div id="variant_nameError" class="text-danger"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="inputEmail4">{{ form.model.label }} </label>
                        <select name="model" class="form-control" required="" id="id_model">
                          <option value="{{model.id}}">{{model}}</option>          
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">{{ form.fuel_type.label}} </label>
                        {{ form.fuel_type }} 
                        <div id="fuleTypeError" class="text-danger"></div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">{{ form.torque.label }} </label>
                        {{ form.torque }}
                        <div id="torqueError" class="text-danger"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4"> {{ form.bhp.label }} </label>
                        {{ form.bhp }} 
                        <div id="bhpError" class="text-danger"></div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4"> {{ form.engine.label }}   </label>
                          {{ form.engine }} 
                          <div id="engineError" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">{{ form.transmission.label }}  </label>
                          {{ form.transmission }}  
                          <div id="transmissionError" class="text-danger"></div>
                        </div>
                        <div class="form-group col-md-6">
                                  <label for="inputPassword4">{{form.tyre_size.label}} </label>
                                  {{form.tyre_size}}
                                  <div id="tyre_sizeError" class="text-danger"></div>
                                </div>
                              </div>                
                              </p>  
                            </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <button  type="submit"class="btn btn-primary btn-sm">Save </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
          <div class="table-responsive">
            {% if  variants%}
            
        <div class="table-responsive mt-4">
          <table id="myDataTable" class="display expandable-table dataTable no-footer">
            <thead>
              <tr>
                <th class="py-1">
                  Variant Name
                </th>
                <th>
                  Transmission Type
                </th>
                <th>
                  Fuel
                </th>
                <th>
                  Engine
                </th>
                <th>
                  Bhp
                </th>
                <th>
                  Torque
                </th>
                <th>
                  Tyre Size
                </th>
                <th>
                  Edit
                </th>
                <th>
                  View
                </th>
              </tr>
            </thead>
            
            <tbody>
              {% for variant in variants %}
              <tr>
                <td class="py-1">
                  {{variant.variant_name}}
                </td>
                <td>
                  {{variant.transmission}}
                </td>
                <td>
                  {{variant.fuel_type}}
                </td>
                <td>
                  {{variant.engine}}
                </td>
                <td>
                  {{variant.bhp}}
                </td>
                <td>
                  {{variant.torque}}
                </td>
                <td>
                  {{variant.tyre_size}}
                </td>
                <td>
                  <button class="btn btn-success  btn-sm"> Edit</button>
                </td>
                <td>

                <a href="{% url 'car_variant_service' slug=variant.variant_slug %}" class="btn btn-success  btn-sm">Service List</a>

                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        <script>
          $(document).ready(function() {
            $('#myDataTable').DataTable({
                search: true, 
                
                columnDefs: [
                { targets: [7, 8], orderable: false } 
              ]
            });
          });
        </script>
        </div>
              {% else%}
                <div class="container mt-4">
                  <div class="error-message text-center p-4 bg-light rounded">
                    <img src="{% static 'img/Sad-face.png'%}" alt="Sad face icon" class="img-fluid mb-2" style="max-width: 200px; height: auto;">
                    <h2 class="text-danger"><strong>Oops! No car Variant found.</strong></h2>
                    <p class="lead">It seems there are no car Variants available in the system.</p>
                    <p class="text-muted">Please take the following actions:</p>
                    <a href="#" class="btn btn-primary">Add New Car Model Variant</a>
                  </div>
                </div>
              {%endif%}
        </div>
      </div>
    </div>
</div>
{%endblock%}