{% extends 'admin/adminbase.html' %}
{%block content%}
{% load static %}
<div class="row">
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-danger"> Service Categories </h2>
            {{buttontext}} Service Category
            <form method="post" id="categoryForm">
              {% csrf_token %}
              <div class="col-md-6">
                {{ form.as_p }}
                <div id="category_nameError" class="text-danger"></div>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-sm">{{buttontext}}</button>
              </div>
              </form>
           
            {% if Categories %}
            <div class="row mt-5">
                {% for Category in Categories %}
                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card  border border-success">
                      <img class="card-img-top" src="{% static 'img/serv.png'%}" alt="Card image cap">
                        <div class="card-body">
                            <div class="col text-center">
                            <h4 class="card-title">{{ Category.category_name }} </h4>
                            </div>      
                        </div>
                        <div class="card-footer">
                          {% comment %} <a href="{% url 'service_category' slug=Category.slug %}" class="btn btn-primary btn-sm">Update</a> {% endcomment %}
                          <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Update</a>
                          <a href="{% url 'service_category_list' slug=Category.slug %}" class="btn btn-success btn-sm">view</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
              </div>
            {% else %}

              <div class="container mt-4">
                <div class="error-message text-center p-4 bg-light rounded">
                  <img src="{% static 'img/Sad-face.png'%}" alt="Sad face icon" class="img-fluid mb-2" style="max-width: 200px; height: auto;">
                  <h2 class="text-danger"><strong>Oops! No Service Categories found.</strong></h2>
                  <p class="lead">It seems there are no Service Categories available in the system.</p>
                  <p class="text-muted">Please take the following actions:</p>
                  <a href="#" class="btn btn-primary"><i class="icon-circle-plus menu-icon"></i>Add Service Category</a>
                </div>
              </div>

            {% endif %}
        
            </div>
    </div>
</div>
{%endblock%}