{% extends 'admin/adminbase.html' %}
{%block content%}
{% load static %}
<div class="row">

<div class="col-md-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body ">
          <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit {{service}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" >
                      {%csrf_token%}
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.service_name.label }} </label>
                            {{ form.service_name }} 
                            <div id="service_name" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.service_category.label }} </label>
                            <select name="service_category" class="form-control" required="" id="id_service_category">
                              <option value="{{service.service_category.id}}">{{service.service_category}}</option>
                            </select>
                            <div id="service_category" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.description.label }} </label>
                            {{ form.description }} 
                            <div id="description" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.service_Image.label }} </label>
                            {{ form.service_Image }} 
                            <div id="service_Image" class="text-danger"></div>
                        </div>
                      </div>
              
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          
            <i class="bi bi-arrow-left-square-fill"></i>
            <div class="row mt-3">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card  ">
                        <div class="card-body">
                          <h3 class="text-danger">Details of {{service}} </h3>
                          <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="{%url 'service_category'%}">Service Category</a></li>
                              <li class="breadcrumb-item"><a href="{% url 'service_category_list' slug=service.service_category.slug %}">{{service.service_category}}</a></li>
                              <li class="breadcrumb-item active" aria-current="page">{{service}} </li>
                            </ol>
                          </nav>
                          <div class="row">
                            <div class="col-md-3">
                              <!-- Content for the first column -->
                              <div>
                            
                                <div class="image-model-container">
                                  {% if service.service_Image %}
                                    <img class="img-fluid zoom-modimage" src="{{ service.service_Image.url }}" alt="{{ service.service_name }} Image" style="max-width: 200px; max-height: 200px;">
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div>
                                <h2>{{service}}</h2>
                                <div class=" mt-4">
                                  Service Category:
                                  {{service.service_category}}
                                  <BR>
                                  Service Description :
                                  {{service.description}}
                                  <div class="mt-5">
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                      Edit Service  <i class="icon-circle-plus menu-icon">  </i>
                                    </button>
                                    <a href="{% url 'service_category_list' slug=service.service_category.slug %}" class="btn btn-primary btn-sm" >
                                      Go Back <i class="bi bi-arrow-left-square-fill"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
        
            </div>
    </div>
</div>
{%endblock%}