{% extends 'admin/adminbase.html' %}
{% load static %}
{% block conhead%}
{% endblock %}
{%block content%}

<div class="row">

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h3 class="text-danger">Details of {{service_category}}  </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{%url 'service_category'%}">Service Category</a></li>
                <li class="breadcrumb-item"><a href=>{{service_category}}</a></li>
              </ol>
            </nav>
          <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New {{service_category}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="post" enctype="multipart/form-data"  id="serviceForm">
                      {%csrf_token%}
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.service_name.label }} </label>
                            {{ form.service_name }} 
                            <div id="service_name" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.service_category.label }} </label>
                            <select name="service_category" class="form-control" required="" id="id_service_category">
                              <option value="{{service_category.id}}">{{service_category}}</option>
                            </select>
                            <div id="service_category" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.description.label }} </label>
                            {{ form.description }} 
                            <div id="description" class="text-danger"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.service_Image.label }} </label>
                            {{ form.service_Image }} 
                            <div id="service_Image" class="text-danger"></div>
                        </div>
                      </div>
                      
                      <div class="form-row">
                        <div class="form-group col">
                            <label >{{ form.tasks.label }} </label>
                            <div class="form-check">
                              {{ form.tasks }} 
                            </div>
                            <div id="service_Image" class="text-danger"></div>
                        </div>
                      </div>    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $(".chosen-select").chosen({no_results_text: "Oops, nothing found!"}); 
              {% comment %} $(document).ready(function() {
                  $('.chosen-select').chosen({
                      disable_search_threshold: 10,
                      width: '100%'
                  });
              }); {% endcomment %}
              </script>
  
           
            
            {% if ServiceLists %}
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
              Add Service  <i class="icon-circle-plus menu-icon">  </i>
            </button>
            <a href="{%url 'service_category'%}" class="btn btn-primary btn-sm" >
              Go Back <i class="bi bi-arrow-left-square-fill"></i>
            </a>
            <i class="bi bi-arrow-left-square-fill"></i>
            <div class="row mt-5">
                {% for ServiceList in ServiceLists %}
                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card  card-light-custom border border-info">
                        <div class="card-body">
                            <div class="col text-center">
                            <h4 class="card-title">{{ ServiceList.service_name }} </h4>
                            <a href="{%url 'service_edit' slug=ServiceList.slug%}" class="btn btn-primary btn-sm">Update</a>
                            </div>
                          
                        </div>
                    </div>
                </div>

                {% endfor %}
                </div>
              </div>
            {% else %}

              <div class="container mt-4">
                <div class="error-message text-center p-4 bg-light rounded">
                  <img src="{% static 'img/Sad-face.png'%}" alt="Sad face icon" class="img-fluid mb-2" style="max-width: 200px; height: auto;">
                  <h2 class="text-danger"><strong>Oops! No Service  found.</strong></h2>
                  <p class="lead">It seems there are no Service  available in the system.</p>
                  <p class="text-muted">Please take the following actions:</p>
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Add Service 
                    <i class="icon-circle-plus menu-icon">  </i>
                  </button>
                </div>
              </div>

            {% endif %}
        
            </div>
    </div>
</div>
{%endblock%}