{% extends 'admin/adminbase.html' %}
{% block conhead%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock %}
{%block content%}
{% load static %}
<div class="row">
    
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{variant}} Service Price</h4>
          <p class="card-description">
                      
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <form method="post" action="{% url "car_variant" %}">
                {%csrf_token%}
                <input type="hidden" name="model_id" value="{{variant.model.id}}">
                <a >
                  <button   class="btn btn-sm">
                    {{variant.model.model_name}}
                  </button>
                </a>
            </form>
              <li class="breadcrumb-item"></li>
              <li class="breadcrumb-item active" aria-current="page">{{variant}}</li>
            </ol>
          </nav>
            <button type="button" class="btn btn-primary  btn-sm" data-toggle="modal" data-target="#exampleModalLong">
              <i class="icon-circle-plus menu-icon"></i> ADD SERVICE
          </button>
          </p>
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add Service</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="Post"> 
                    {%csrf_token%}
                    {% comment %} {{form.as_p}} {% endcomment %}
                    <p>
                    <label> Vehicle </label>
                    <select name="variant" class="form-control" required="" aria-invalid="true" id="id_variant">
                      <option value="{{variant.id}}" selected>{{variant}}</option>
                    </select>
                    </p>
                    <p>
                    <label>Service </label>
                    {{form.service}}
                    </p>
                    <p>
                      <label>Price </label>
                      {{form.price}}
                      </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary btn-sm">Save </button>
                </form>
                </div>
              </div>
            </div>
          </div>
        
          <div class="table-responsive">
          {% if  price_list%}
          
        <div class="table-responsive mt-4">
          <table id="myDataTable" class="display expandable-table dataTable no-footer">
            <thead>
              <tr>
                <th class="py-1">
                  Variant Name
                </th>
                <th>
                  Transmission Type
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            
            <tbody>
              {%for price in price_list%}
              <tr>
                <td class="py-1">
                  {{price.service.service_name}}
                </td>
                <td>
                  {{price.price}}
                </td>
               <td>
                <button class="btn btn-success btn-sm"> Edit</button>
               </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        <script>
          $(document).ready(function() {
            $('#myDataTable').DataTable({
                search: true, 
              
            });
          });
        </script>
        </div>
             {% else%}
                <div class="container mt-4">
                  <div class="error-message text-center p-4 bg-light rounded">
                    <img src="{% static 'img/Sad-face.png'%}" alt="Sad face icon" class="img-fluid mb-2" style="max-width: 200px; height: auto;">
                    <h2 class="text-danger"><strong>Oops! No car Variant found.</strong></h2>
                    <p class="lead">It seems there are no car Variants available in the system.</p>
                    <p class="text-muted">Please take the following actions:</p>
                    <a href="#" class="btn btn-primary">Add New Car Model Variant dgs</a>
                  </div>
                </div>
            {%endif%} 
        </div>
      </div>
    </div>
</div>
{%endblock%}