<div class="price">
    <div class="container">
                <div class="row">
                    
                    {% for service in services%}
                        <div class="col-md-4">
                            <div class="price-item featured-item">
                                <div class="image-model-container">
                                    <div class="duration-container">
                                        4 Hrs Taken
                                    </div>
                                    <img src="{{ service.service_Image.url }}"  class="img-fluid zoom-modimage" alt="Your Image">
                                </div>
                                <div class="price-header">
                                    <h3> {{service.service_name }}</h3>
                                    {{service.description }}
                                    <h2><span>$</span><strong>35</strong><span>.99</span></h2>
                                </div>
                                <div class="price-footer">
                                    <a class="btn btn-custom" href="">Book Now</a>
                                </div>
                            </div>
                        </div>
                       
                    {% endfor%}
                </div>
        </div>
    </div>
</div>