<!-- model_variants.html -->
<main class="container py-4">
    <div class="row" id="carsContainer">
        <div class="col-md-14">
            <div class="card mb-3">
                <b>
                    {% comment %} <button hx-get="{% url 'load_car_models' m_id %}" hx-trigger="click" hx-target="#mycar" class="btn btn-light ">
                        ← 
                    </button> {% endcomment %}
                    Select Car Variant
                </b>
                <br>
                <div class="row g-0">
                    {% for v in vehicles %}
                        <div class="col-md-10">
                            <img src="{{v.model_variant.model.model_Image.url }}" class="img-fluid zoom-modimage" alt="...">
                        </div>
                        <small>{{v.vehicle.model_variant }}</small>
                    {% endfor %}
                </div>
                <br>
            </div>
            <button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Close">
                Close
              </button>
        </div>
    </div>
</main>

