{% extends 'client/base.html' %}
{%block content%}
{% load static %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Add Vehicle</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'vehicle' %}">Vehicle</a>
                <a href="{%url 'vehicle_add'%}">add </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
            <img class="img-fluid zoom-image" src="{% static 'img/wwd4.jpeg' %}">
          </div>
      </div>
      <div class="col-md-6 border border-info rounded pt-5">
        <!-- Content for the second column goes here -->
        <h2>Add Vehicle</h2>
        <p>Please Complete the Form with the Necessary Details to Register a New Vehicle.</p>
        <div class="col-md-12 mt-5 mb-27 mx-auto">
            <form method="post">
                {% csrf_token %}    
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto">
                    <label>Vehicle Registrtion Number</label>
                    {{form.vehicle_Regno}}
                    </div>
                    <div class="form-group col-md-6 mx-auto">
                        <label>Manufacturing Company</label>
                        {{ form.car_make}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto">
                    <label >Vehicle Model</label>
                    {{ form.car_model}}
                    </div>
                    <div class="form-group col-md-6 mx-auto">
                        <label >Year</label>
                        {{ form.year}}
                    </div>
                </div>
                    <div class="form-group col-md-14 ">
                    <label>Fuel Type</label>
                    {{ form.fuel_type}}
                    </div>
                    <div class="form-group col-md-4 mx-auto">
                        <button type="submit">Add Vehicle</button>
                    </div>     
            </form>
        </div>
        
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_car_make').change(function () {
            var makeId = $(this).val();
            $.ajax({
                url: '/get_car_models/',  // Replace with the actual URL for fetching car models
                method: 'GET',
                data: {make_id: makeId},
                success: function (data) {
                    var carModelsSelect = $('#id_car_model');
                    carModelsSelect.empty();
                    carModelsSelect.append('<option value="" selected="">---------</option>');
                    $.each(data.models, function (key, value) {
                        carModelsSelect.append('<option value="' + value.id + '">' + value.model_name + '</option>');
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>
{%endblock%}