{% extends 'client/base.html' %}
{%block content%}
{% load static %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Add Vehicle</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'vehicle' %}">Vehicle</a>
                <a href="{%url 'vehicle_add'%}">add </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
            <img class="img-fluid zoom-image" src="{% static 'img/wwd4.jpeg' %}">
          </div>
      </div>
      <div class="col-md-6 border border-info rounded pt-5">
        <!-- Content for the second column goes here -->
        <h2>Add Vehicle</h2>
        <p>Please Complete the Form with the Necessary Details to Register a New Vehicle.</p>
        <div class="col-md-12 mt-5 mb-27 mx-auto">
            <form method="post">
                {% csrf_token %}  
                {% comment %} {{form.as_p}} {% endcomment %}
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto">
                    <label>Vehicle Registrtion Number</label>
                    {{form.vehicle_Regno}}
                    </div>
                    <div class="form-group col-md-6 mx-auto">
                        <label>Manufacturing Company</label>
                        {{ form.make_company}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto">
                    <label >Vehicle Model</label>
                    {{ form.model_name}}
                    </div>
                    <div class="form-group col-md-6 mx-auto">
                        <label >Modal Variant</label>
                        {{ form.model_variant}}
                    </div>
                </div>


                    <div class="form-group col-md-4 mx-auto">
                        <button type="submit">Add Vehicle</button>
                    </div>     
            </form>
        </div>
        
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $('#id_make_company').change(function () {
        var makeCompanyId = $(this).val();
    
        $.ajax({
            url: '/get_car_models/' + makeCompanyId + '/',
            success: function (response) {
                var data = JSON.parse(response);
                $('#id_model_name').empty();
                $('#id_model_name').prepend($('<option></option>').attr('value', '').text(''));
                $.each(data, function (index, item) {
                    $('#id_model_name').append($('<option></option>').attr('value', item.pk).text(item.fields.model_name));
                });
            }
        });
    });
   
    $('#id_model_name').change(function () {
        var modelId = $(this).val();
    
        $.ajax({
            url: '/get_car_variants/' + modelId + '/',
            success: function (response) {
                var data = JSON.parse(response);
                $('#id_model_variant').empty();
                $('#id_model_variant').prepend($('<option></option>').attr('value', '').text(''));
                $.each(data, function (index, item) {
                    $('#id_model_variant').append($('<option>  </option>').attr('value', item.pk).text(item.fields.variant_name));
                });
            }
        });
    }); 

</script>
{%endblock%}