{% extends 'client/base.html' %}
{%block content%}
{% load static %}
    {%if is_filled%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{user.name}}</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
 <!-- Carousel Start -->
 <div class="carousel">
<div class="container-fluid">
      <div class="owl-carousel">
          <div class="carousel-item">
              <div class="carousel-img">
                  <img src="{% static 'img/carousel-1.jpg'%}" alt="Image">
              </div>
              <div class="carousel-text">
                  <h3>Your Car, Our Care</h3>
                  <h1>Keep your Car Newer</h1>
                  <p>
                      Lorem ipsum dolor sit amet elit. Phasellus ut mollis mauris. Vivamus egestas eleifend dui ac
                  </p>
                  <a class="btn btn-custom" href="">Explore More</a>
              </div>
          </div>
          <div class="carousel-item">
              <div class="carousel-img">
                  <img src="{% static 'img/carousel-2.jpg'%}" alt="Image">
              </div>
              <div class="carousel-text">
                  <h3>Your Car, Our Care</h3>
                  <h1>Quality service for you</h1>
                  <p>
                      Morbi sagittis turpis id suscipit feugiat. Suspendisse eu augue urna. Morbi sagittis orci sodales
                  </p>
                  <a class="btn btn-custom" href="">Explore More</a>
              </div>
          </div>
          <div class="carousel-item">
              <div class="carousel-img">
                  <img src="{% static 'img/carousel-3.jpg'%}" alt="Image">
              </div>
              <div class="carousel-text">
                  <h3>Your Car, Our Care</h3>
                  <h1>Driving Excellence, Servicing Brilliance.</h1>
                  <p>
                      Sed ultrices, est eget feugiat accumsan, dui nibh egestas tortor, ut rhoncus nibh ligula euismod quam
                  </p>
                  <a class="btn btn-custom" href="">Explore More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Carousel End -->
<div class="container mt-5">
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-primary" onclick="openForm()">Click me</button>
    </div>
  </div>
</div>

<div class="form-popup" id="myForm">
  <div class="form-container">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="col-md-6">
              

              <div class="row">
                <div class="col-md-6">
                  <div class="container mt-4">
                    <div class="row">
                      {%for make in makes%}
                      <div class="col-md-4 d-flex justify-content-center">
                        <div class="card ">
                          <div class="card-body">
                            <img src="{{ make.make_Image.url }}" alt="{{ make.make_name }} Image" style="max-width: 100px; max-height: 100px;">
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</div>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

<div class="single">
  <div class="container">
      <div class="section-header text-center">
          <h2>Choose Your Service</h2>
      </div>
      <div class="row">
          <div class="col-lg-8">
              <div class="single-tags">
                {% for category in categories %}
                <a href=""
                   data-category-slug="{{ category.slug }}"
                   class="{% if request.resolver_match.url_name == 'get_category_data' and category.slug == request.GET.category_slug %}active{% endif %}"
                   hx-get="{% url 'get_category_data' category_slug=category.slug %}"
                   hx-trigger="{% if forloop.first %}load once{% else %}click{% endif %}"
                   hx-target="#category-data">{{ category.category_name }}</a>
                {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>
<div id="category-data">
    <!-- Data for the selected category will be loaded here -->
</div>


<script>
  $(document).ready(function () {
    // Function to update models dropdown based on the selected make
    function updateModelsDropdown() {
        var makeId = $('#id_make_company').val();
        if (makeId) {
            $.ajax({
                url: '/get_models/',
                data: {'make_id': makeId},
                dataType: 'json',
                success: function (data) {
                    var modelSelect = $('#id_model_name');
                    modelSelect.empty();
                    modelSelect.append('<option value="">---------</option>');
                    $.each(data.models, function (key, value) {
                        modelSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });

                    // Trigger change on model dropdown to update model variants
                    modelSelect.trigger('change');
                }
            });
        }
    }

    // Initial setup
    updateModelsDropdown();

    // Event handler for make dropdown change
    $('#id_make_company').change(function () {
        updateModelsDropdown();
    });

    // Event handler for model dropdown change
    $('#id_model_name').change(function () {
        var modelId = $(this).val();
        if (modelId) {
            $.ajax({
                url: '/get_model_variants/',
                data: {'model_id': modelId},
                dataType: 'json',
                success: function (data) {
                    var variantSelect = $('#id_model_variant');
                    variantSelect.empty();
                    variantSelect.append('<option value="">---------</option>');
                    $.each(data.variants, function (key, value) {
                        variantSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });
        }
    });
});
</script>
<!-- Price Start -->
<div class="price">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="container mt-4">
            <div class="row">

              {%for make in makes%}
              <div class="col-md-4 d-flex justify-content-center">
                <div class="card ">
                  <div class="card-body">
                    <img src="{{ make.make_Image.url }}" alt="{{ make.make_name }} Image" style="max-width: 100px; max-height: 100px;">
                    <p class="card-text text-sm">
                     {{make.make_name}}
                    </p>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>

        <div class="section-header text-center">
            <p>What We Do?</p>
            <h2>We offer full service auto repair <br>& maintenance</h2>
        </div>
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-4">
              <div class="image-container">
                <img  src="{% static 'img/wwd1.png' %}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-container">
                <img class="img-fluid zoom-image" src="{% static 'img/wwd2.jpg' %}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-container">
                <img src="{% static 'img/wwd3.png' %}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 ">
              <div class="image-container">
                <img class="img-fluid zoom-image" src="{% static 'img/wwd4.jpeg' %}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-container">
                <img src="{% static 'img/wwd5.png' %}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-container">
                <img class="img-fluid zoom-image" src="{% static 'img/wwd6.jpeg' %}">
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Price End -->

{%endblock%}