{% extends 'client/base.html' %}
{%block content%}
<div id="map" style="height: 400px;"></div>

  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 0, lng: 0},
        zoom: 2
      });

      {% for service_center in service_centers %}
        var marker = new google.maps.Marker({
          position: {lat: {{ service_center.latitude }}, lng: {{ service_center.longitude }}},
          map: map,
          title: "{{ service_center.place }}"
        });

        var contentString = '<div id="content">' +
            '<strong>{{ service_center.place }}</strong><br>' +
            '{{ service_center.city }}, {{ service_center.pincode }}<br>' +
            'Phone: {{ service_center.phone_number }}' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      {% endfor %}
    }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&callback=initMap">
  </script>
{%endblock%}