{% extends 'client/base.html' %}
{%block content%}
{% load static %}
<div class="blog">
    <div id="distance-error" style="color: red; font-weight: bold;"></div>
    <form method="post" action="{% url 'rsarequest' %}">
        {% csrf_token %}
    
        <label for="vehicle_info">Vehicle Info:</label>
        <select name="vehicle_info" id="vehicle_info">
            {% for vehicle in vehicles %} <option value="{{ vehicle.id }}">{{ vehicle.vehicle_Regno }}</option> {% endfor %}
        </select>
    
        <br>
        <input type="hidden" name="latitude" id="latitude" required>
    
        <br>
        <input type="hidden" name="longitude" id="longitude" required>
    
        <br>
    
        <label for="description">Description:</label>
        <textarea name="description" id="description" rows="4" required></textarea>
    
        <br>
    
        <button type="submit">Submit</button>
    </form>
    <div id="map" style="height: 400px; width: 400px;"></div>
</div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
   
<script>
    var iconUrl = "{% static 'img/car_loc.png' %}";
    var iconUrl1 = "{% static 'img/sc_loc.png' %}";
    var userIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [50, 60],
        iconAnchor: [25, 60],
        popupAnchor: [-3, -76]
    });
    
    var cIcon = L.icon({
        iconUrl: iconUrl1,
        iconSize: [70, 70],
        iconAnchor: [25, 60],
        popupAnchor: [6, -50]
    });
    
    var redIcon = L.icon({
        iconUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon-2x-red.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41],
        shadowUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png'
    });
    
    var currentRoute = null;
    
    var map = L.map('map').setView([0, 0], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);
    
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var userLocation = [position.coords.latitude, position.coords.longitude];
    
            L.marker(userLocation, { icon: userIcon }).addTo(map).bindPopup('Your Location');
            var bounds = L.latLngBounds(userLocation);
            var nearestCenter = null;
            var nearestDistance = Infinity;
    
            {% for center in service_centers %}
                // Service Center Marker
                var centerMarker = L.marker([{{ center.latitude }}, {{ center.longitude }}], { icon: cIcon })
                    .addTo(map)
                    .bindPopup('<strong>AutoMech {{ center.place }}</strong><br>{{ center.city }}, {{ center.pincode }}<br>Contact: {{ center.phone_number }}');
                bounds.extend(centerMarker.getLatLng());
    
                // Circle with a 20km radius around each service center
                var circle = L.circle([{{ center.latitude }}, {{ center.longitude }}], {
                    color: 'blue',
                    fillColor: 'blue',
                    fillOpacity: 0.3,
                    radius: 20000  // 20km in meters
                }).addTo(map);
    
                // Calculate distance to the center in kilometers
                var distance = map.distance(userLocation, centerMarker.getLatLng()) / 1000;
    
                // Update nearest center if closer
                if (distance < nearestDistance) {
                    nearestDistance = distance;
                    if (nearestCenter) {
                        nearestCenter.setIcon(cIcon); // Reset the previous nearest center to its original icon
                    }
                    nearestCenter = centerMarker;
                }
    
                centerMarker.on('click', function(e) {
                    if (currentRoute) {
                        map.removeControl(currentRoute);
                    }
    
                    currentRoute = L.Routing.control({
                        waypoints: [
                            L.latLng(userLocation),
                            L.latLng([{{ center.latitude }}, {{ center.longitude }}])
                        ],
                        routeWhileDragging: true,
                        showAlternatives: true,
                        createMarker: function(i, wp, nWps) {
                            if (i === 0) {
                                return L.marker(wp.latLng, { icon: userIcon });
                            } else {
                                return L.marker(wp.latLng, { icon: cIcon });
                            }
                        }
                    }).addTo(map);
                });
                var distanceErrorDiv = document.getElementById('distance-error');
                // Display distance in kilometers in the popup
                centerMarker.bindPopup('<strong>AutoMech {{ center.place }}</strong><br>{{ center.city }}, {{ center.pincode }}<br>Contact: {{ center.phone_number }}<br>Distance: ' + distance.toFixed(2) + ' km');
            {% endfor %}
    
            // Highlight the nearest center in red
            if (nearestCenter) {
                nearestCenter.setIcon(redIcon);
                nearestCenter.bindPopup('Nearest Service Center<br>Distance: ' + nearestDistance.toFixed(2) + ' km').openPopup();
    
                // Display an error message if the distance is greater than 20 km
                if (nearestDistance > 20) {
                    distanceErrorDiv.innerHTML = 'Roadside Assistance is not available for distances greater than 20 km.';
                }
            }
    
            // Set map view to show both user location and nearest service center
            bounds.extend(nearestCenter.getLatLng());
            map.fitBounds(bounds, { padding: [10, 180] });
    
            var buttons = document.getElementsByClassName('show-on-map');
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener('click', function() {
                    var lat = this.getAttribute('data-lat');
                    var lng = this.getAttribute('data-lng');
                    map.setView([lat, lng], 13);
                    if (currentRoute) {
                        map.removeControl(currentRoute);
                    }
    
                    currentRoute = L.Routing.control({
                        waypoints: [
                            L.latLng(userLocation),
                            L.latLng(lat, lng)
                        ],
                        routeWhileDragging: true,
                        showAlternatives: true,
                        createMarker: function(i, wp, nWps) {
                            if (i === 0) {
                                return L.marker(wp.latLng, { icon: userIcon });
                            } else {
                                return L.marker(wp.latLng, { icon: cIcon });
                            }
                        }
                    }).addTo(map);
                });
            }
        });
    }
</script>
   
   
   
   
   
   
   
    {% comment %} <form method="post" action="{% url 'rsarequest' %}">
        {% csrf_token %}
    
        <label for="vehicle_info">Vehicle Info:</label>
        <select name="vehicle_info" id="vehicle_info">
            {% for vehicle in vehicles %} <option value="{{ vehicle.id }}">{{ vehicle.vehicle_Regno }}</option> {% endfor %}
        </select>
    
        <br>
        <input type="hidden" name="latitude" id="latitude" required>
    
        <br>
        <input type="hidden" name="longitude" id="longitude" required>
    
        <br>
    
        <label for="description">Description:</label>
        <textarea name="description" id="description" rows="4" required></textarea>
    
        <br>
    
        <button type="submit">Submit</button>
    </form>
</div>
<div id="map" style="height: 400px;"></div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
            <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>

            <script>
                var iconUrl = "{% static 'img/car_loc.png' %}";
                var userIcon = L.icon({
                    iconUrl: iconUrl,
                    iconSize: [50, 60],
                    iconAnchor: [25, 60],
                    popupAnchor: [-3, -76]
                });
                var map = L.map('map').setView([0, 0], 2);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 70,
                }).addTo(map);
                
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var userLocation = [position.coords.latitude, position.coords.longitude];
                
                        // Set the latitude and longitude fields in the form
                        document.getElementById('latitude').value = userLocation[0];
                        document.getElementById('longitude').value = userLocation[1];
                
                        L.marker(userLocation, { icon: userIcon }).addTo(map).bindPopup('Your Location');
                        var bounds = L.latLngBounds(userLocation);
                        map.fitBounds(bounds, { padding: [100, 100] });
                    });
                }
                </script> {% endcomment %}

{%endblock%}